/makefile.buildopts
/.*
/lib*
/obj*
/bin*
/*/**/.cproject
/*/**/.project
/*/**/.settings
/*/**/.tmp_versions
/src/*/**/*.o
/src/*/**/*.o.cmd
/src/*/**/*.ko.cmd
/src/*/**/*.ko
/src/*/**/*.mod.c
/src/*/**/Module.symvers
/src/*/**/modules.order
/src/*/**/*.a
/src/*/**/*.d
/src/*/**/*.uapitest
/src/*/**/*.percpu
/src/*/**/*.log
/*.csv
/*.data
/*.app
/*.txt
/*.log

/src/runtime/daemon/vitamins

/src/external/mcpat/mcpat

/src/external/linsched/tools/linsched/tests/aux
/src/external/linsched/tools/linsched/tests/aux2
/src/external/linsched/tools/linsched/tests/test1
/src/external/linsched/tools/linsched/tests/test2
/src/external/linsched/tools/linsched/liblinsched
/src/external/linsched/tools/linsched/validation/trace-imbalance
/src/external/linsched/tools/linsched/validation/unix-mcarlo-sim
/src/external/linsched/kernel/timeconst.h

/src/external/heartbeats/bin*

/src/external/hotspot/hotfloorplan
/src/external/hotspot/hotspot
/src/external/hotspot/test

/scripts/confs.sh
/docker/linux-tegra
src/external/matlab/SISO/First_order_F_i_P_IPS_o_big2.asv